@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/play-v19-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/play-v19-latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v47-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/roboto-v47-latin-600.woff2") format("woff2");
}

:root {
  --color-primary-base: #ffffff;
  --color-primary-light: #2b7fff;
  --color-primary-dark: #011c44;
  --color-secondary-dark-gray: #4a4a4a;
  --color-secondary-light-gray: #747272;
  --font-family: "Roboto", sans-serif;
  --second-family: "Play", sans-serif;
}

/* Base */
* {
  box-sizing: border-box;
}

body {
  color: var(--color-primary-dark);
  font-family: var(--font-family);
  font-size: 22px;
  font-weight: 400;
  line-height: 1.7;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h2 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 64px;
}

address {
  font-style: normal;
}

footer {
  background-color: var(--color-primary-dark);
}

.section {
  padding: 48px;
}

.container {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 24px;
}

/* Hidden */
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Button */
.main-button {
  padding: 16px 32px;
  color: var(--color-primary-base);
  font-weight: 600;
  font-size: 18px;
  background-color: var(--color-primary-light);
  border: 2px solid var(--color-primary-light);
  border-radius: 32px;
  cursor: pointer;
  transition: 0.2s;
}

.main-button:hover {
  color: var(--color-primary-dark);
  background-color: transparent;
}

/* Link */
.link {
  color: var(--color-primary-dark);
  font-size: 18px;
  text-decoration: none;
  transition: 0.2s;
}

.link:hover {
  color: var(--color-primary-light);
}

/* Header */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 32px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.25);
}

.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-menu {
  display: flex;
  gap: 56px;
  flex-grow: 1;
  justify-content: center;
}

.header-address {
  display: flex;
  gap: 32px;
}

.header-icon {
  fill: var(--color-primary-dark);
  cursor: pointer;
  transition: 0.2s;
}

.header-icon:hover {
  fill: var(--color-primary-light);
}

/* Hero section */
.hero-section {
  background-image: url(/images/header-image.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  padding: 122px 106px;
}

.clinic-hero {
  margin-bottom: 16px;
  font-size: 18px;
}

.hero-title {
  width: 530px;
  color: var(--color-primary-light);
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 140px;
  line-height: 1.2;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.place-an-order {
  padding: 14px;
  width: 238px;
  color: var(--color-secondary-dark-gray);
  font-size: 12px;
  line-height: 1.5;
}

/* About-section */
.about-us-title {
  margin-bottom: 40px;
}

.about-us-section {
  padding-top: 66px;
}

.about-us-container {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.about-us-content {
  max-width: 700px;
}

.about-us-text {
  margin-bottom: 40px;
}

.brand-color {
  color: var(--color-primary-light);
  text-transform: capitalize;
}

.text-capitalize {
  font-weight: 600;
  text-transform: capitalize;
}

.about-us-raund {
  width: 327px;
  height: 327px;
  border-radius: 50%;
}

.about-stars {
  animation-name: spin;
  animation-delay: 2s;
  animation-duration: 2s;
}

@keyframes spin {
  from {
    transform: rotate(0) scale(1);
  }

  50% {
    transform: rotate(180deg) scale(2);
  }

  to {
    transform: rotate(360deg) scale(1);
  }
}

.about-us-images {
  width: 499px;
  height: 695px;
  position: relative;
}

.about-us-raund-before {
  position: absolute;
  top: 0;
  left: 0;
}

.about-us-raund-after {
  position: absolute;
  bottom: 0;
  right: 0;
}

.about-us-middle-star {
  position: absolute;
  top: 36px;
  right: -13px;
  fill: var(--color-primary-light);
}

.about-us-mini-star {
  position: absolute;
  top: 272px;
  right: -14px;
  fill: var(--color-secondary-light-gray);
}

.about-us-large-star {
  position: absolute;
  top: 340px;
  right: 252px;
  fill: var(--color-primary-dark);
}

/* Why we section */
.why-we-title {
  margin-bottom: 48px;
  text-align: center;
}

.why-we-card {
  box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
  border: 1px solid lightgrey; /*remove*/
  padding: 24px 32px;
  border-radius: 32px;
  width: 316px;
  height: 181px;
}

.why-we-image {
  fill: var(--color-primary-light);
}

.choise-color {
  color: var(--color-primary-light);
}

.clinic-infornation {
  display: flex;
  gap: 56px;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
}

/* Procedures section */
.procedures-title {
  margin-bottom: 48px;
  text-align: center;
}

.procedures-container {
  align-items: center;
  display: flex;
  gap: 32px;
}

.procedure-card {
  border-radius: 120px 4px;
  width: 344px;
  height: 456px;
  background: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0) 47.4%,
    rgba(1, 28, 68, 0.73) 82.66%,
    var(--color-primary-dark) 99.06%
  );
}

.procedure-item {
  flex-basis: calc((100% - 32px) / 3);
}

.procedures-color {
  color: var(--color-primary-light);
}

.our-procedures {
  display: flex;
  gap: 16px;
  padding: 24px;
  line-height: 1.2;
}

/* Carusel */
.carusel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  fill: var(--color-primary-dark);
  width: 44px;
  height: 44px;
  padding: 0;
  background-color: transparent;
  border: 1px solid var(--color-primary-dark);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}

.carusel-button:hover {
  background-color: var(--color-primary-light);
  fill: var(--color-primary-base);
  border: 1px solid var(--color-primary-base);
}

.next {
  transform: rotate(180deg);
}

/* Contact section */
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.find-title {
  margin-bottom: 48px;
  text-align: center;
}

.find-color {
  color: var(--color-primary-light);
}

/* .free-order-color {
  color: var(--color-primary-light);
}

.call-order {
  font-weight: 600;
  text-align: center;
} */

.contact-modal {
  text-align: center;
  position: relative;
  border-radius: 48px;
  max-width: 422px;
  max-height: 482px;
  width: 100%;
  height: 100%;
  padding: 48px 56px;
  color: var(--color-primary-base);
  background-color: var(--color-primary-dark);
  background-image: url(/images/form-background.png);
}

.contact-form-field {
  margin-bottom: 16px;
}

/* Footer */
.footer {
  padding: 56px 0;
  position: relative;
  background-image: url(/images/footer-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer::after {
  position: absolute;
  background-repeat: no-repeat;
  content: "";
  width: 247px;
  height: 152px;
  bottom: 0;
  right: 0;
  background-image: url(/images/bottel-in-footer.png);
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-nav,
.footer-address {
  gap: 20px;
  display: flex;
  flex-basis: 50%;
}

.footer-logo,
.footer-menu {
  flex-grow: 1;
}

.footer-address,
.address-list {
  flex-grow: 1;
}

.link-footer {
  color: var(--color-primary-base);
  font-size: 16px;
  text-decoration: none;
  transition: 0.2s;
}

.link-footer:hover {
  color: var(--color-primary-light);
}

.address-link {
  color: var(--color-primary-base);
  font-size: 16px;
  text-decoration: none;
  transition: 0.2s;
}

.address-link:hover {
  color: var(--color-primary-light);
}

.address-icon {
  cursor: pointer;
  fill: var(--color-primary-base);
  transition: 0.2s;
}

.address-icon:hover {
  fill: var(--color-primary-light);
}

.address-copyright {
  color: var(--color-secondary-light-gray);
  font-size: 13px;
}

/* Form */
.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  text-align: center;
  position: relative;
  border-radius: 48px;
  max-width: 723px;
  width: 100%;
  max-height: 681px;
  height: 100%;
  padding: 42px 144px;
  color: var(--color-primary-base);
  background-color: var(--color-primary-dark);
  background-image: url(/images/form-background.png);
  overflow-y: auto;
}

.modal-btn-close {
  position: absolute;
  top: 42px;
  right: 42px;
}

.modal-title {
  line-height: 1.3;
}

.form-order {
  width: 310px;
  margin: 0 auto;
}

.form-descr {
  font-weight: 600;
}

.form-descr-accent {
  color: var(--color-primary-light);
}

.form-button {
  font-weight: 600;
  font-size: 18px;
  padding: 16px 32px;
  border: 2px solid var(--color-primary-light);
  border-radius: 48px;
  color: var(--color-primary-base);
  background-color: var(--color-primary-light);
  cursor: pointer;
  transition: 0.2s;
  display: block;
  margin: 0 auto 8px;
}

.form-button:hover {
  background-color: transparent;
}

.form-term {
  color: var(--color-secondary-light-gray);
  margin: 0 auto;
  max-width: 209px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
}

.form-term-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.form-field {
  margin-bottom: 24px;
}

.form-label {
  display: block;
}

.form-input {
  background-color: transparent;
  border: 2px solid var(--color-secondary-light-gray);
  border-radius: 32px;
  padding: 18px 32px;
  width: 310px;
  height: 52px;
}

.form-input:focus {
  border-color: var(--color-primary-light);
  outline: none;
  color: var(--color-primary-base);
}

.form-input::placeholder {
  color: var(--color-primary-base);
  font-size: 13px;
  line-height: 1.17;
}

.form-input:focus::placeholder {
  color: var(--color-primary-base);
}
